.nav.navbar.navbar-default.navbar-shrink.navbar-static-top(ng-controller='NavbarCtrl')
  .container

    // Brand and toggle get grouped for better mobile display 
    .navbar-header.page-scroll
      button.navbar-toggle(type='button', ng-click='toggleNavbar()')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .navbar-brand.page-scroll Worktajm

    // Collect the nav links, forms, and other content for toggling 
    .collapse.navbar-collapse(collapse='isCollapsed')
      ul.nav.navbar-nav.navbar-right
        li(navbar-active='/dashboard')
          a(href='/dashboard', ng-click='toggleNavbar()') Timer
        li(navbar-active='/reports')
          a(href='/reports', ng-click='toggleNavbar()') Reports
        // li(navbar-active='/settings')
        //  a(href='/settings', ng-click='toggleNavbar()') Settings
        li
          a(href='#', ng-click='logout()') Logout
