.container
	.row
		.col-sm-4
		.col-sm-12
			h3. SlimTimer integration
			form.form(name='form', ng-submit='enableSlimTimerIntegration', novalidate='')
				.form-group
					label API key
					input.form-control(type='text', name='apiKey', ng-model='slimtimer.apiKey', mongoose-error='')
					p.help-block(ng-show='slimtimer.apiKey.$error.mongoose')
						| {{ errors.other }}
				.form-group
					label Password
					input.form-control(type='password', name='password', ng-model='slimtimer.password', ng-minlength='3', required='')
					p.help-block(ng-show='(slimtimer.password.$error.minlength || slimtimer.password.$error.required) && (slimtime.password.$dirty || submitted)')
						| Password must be at least 3 characters.

					p.help-block {{ message }}

				button.btn.btn-lg.btn-primary(type='submit') Save changes
