div(ng-include='"app/navbar/navbar.html"')
.container
	.row
		.col-sm-4
			ul.nav.nav-pills.nav-stacked
				li Password
				li Projects
		.col-sm-8
			div(ui-view="password")
			div(ui-view="integration")
