<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">{{principal.firstName}} {{principal.lastName}}</h4>
      </div>
      <div class="panel-body">
        <p>
          <strong>This week</strong><br/>
          100 hrs
        </p>
        <p>
          <strong>This month</strong><br/>
          400 hrs
        </p>
        <p>
          <strong>This year</strong><br/>
          10345 hrs
        </p>                                                
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Recent Activity</h4>
      </div>
      <div class="panel-body">
        <p>
          <div class="alert alert-info">
            <small>{{currentTime | date:'yyyy-MM-dd HH:mm'}}</small><br/>
            Welcome to Worktajm 0.1
          </div>
        </p>                                                
        <p>
          <div class="alert alert-warning">
            <small>{{cleanTime | date:'yyyy-MM-dd HH:mm'}}</small><br/>
            All users are cleaned on a daily basis until system goes live.
          </div>
        </p>
      </div>
    </div>
  </div>
</div>


