$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


/* GLOBAL STYLES
-------------------------------------------------- */

/* Padding below the footer and lighter body text */
body {
  padding-bottom: 0px;
  padding-top: 70px;
  color: #5a5a5a;
  height: 100%;
}

footer {
  height: 50px;
  background: #181818;
  position: fixed;
  bottom: 0;
  width: 100%;  
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

/* @projects.scss
-------------------------------------------------- */

.projects {
    padding: 10px;
}
.projecs-header {
    padding: 10px;
}
.project {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
    margin: 0px;
    border: 1px solid;
}
.project .controls {
}
.project a:hover {
    text-decoration: none;
}
.project input {
    width: 80%;
}

/* Thumbnails even height */
.thumbnail .caption {
    height: 200px;
}

.projectToggle {
  
}

.projectEdit {
  margin-left: 0px;
}

.projectEdit br {
  display: none;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar {
    margin-bottom: 18px;
  }
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
