.modal-header
    h4 {{titleText}}
    .modal-body
      form(role='form')
        .form-group
          label(for='project') Project
          input.form-control(type='text', ng-model='timeEntry.project.name', typeahead='project for project in projectNames | filter:$viewValue | limitTo:8', required='required')
          p
            .alert.alert-info(ng-hide='timeEntry.project.id')
              | Project name does not exist, new project will be created
        .form-group
          label(for='startDate') Start time
          .dropdown
            a#dropdown1.dropdown-toggle(role='button', data-toggle='dropdown', data-target='#', href='#')
              .input-group
                input.form-control(type='text', data-ng-model='timeEntry.start', ng-required='ng-required')
                span.input-group-addon
                  i.glyphicon.glyphicon-calendar
            ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
              datetimepicker(data-ng-model='timeEntry.start', data-datetimepicker-config='{ dropdownSelector: \'#dropdown1\' }')
        .form-group
          label(for='endDate') End time
          .dropdown
            a#dropdown2.dropdown-toggle(role='button', data-toggle='dropdown', data-target='#', href='#')
              .input-group
                input.form-control(type='text', data-ng-model='timeEntry.end', ng-required='ng-required')
                span.input-group-addon
                  i.glyphicon.glyphicon-calendar
            ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
              datetimepicker(data-ng-model='timeEntry.end', data-datetimepicker-config='{ dropdownSelector: \'#dropdown2\' }')
        .form-group
          label(for='comment') Comment
          textarea#comment.form-control(rows='10', placeholder='Enter comment', ng-model='timeEntry.comment')
    .modal-footer
      button.btn.btn-default(type='button', ng-click='cancel()') {{cancelText}}
      button.btn.btn-primary(type='button', ng-click='ok()') {{okText}}
