$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

@import "variables";
@import "mixins";

// Global Components
body {
    overflow-x: hidden;
    @include body-font;
    background-color: $body-bg
}

.text-muted {
    color:  $gray;
}

.text-primary {
    color: $brand-primary;
}

.full-page {
    height:100%;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}

a {
    color: $brand-primary;
    text-decoration: none;
}

a:hover,
a:focus,
a:active,
a.active {
    color: darken($brand-primary, 30%);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light   -gray {
    background-color:   $gray-lighter;
}

.bg-darkest -gray {
    background-color:   $gray-darkest;
}

// Restyled Primary Buttons
.btn-primary {
    @include button-variant(white, $brand-primary, $brand-primary);
    // @include heading-font;
    font-weight: 700;
}

.btn-login {
    @include button-variant(white, $brand-primary, $brand-primary);
    @include heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 14px;
    padding: 6px 20px;
    margin-bottom: 20px;
}

// Custom Navigation Bar
.navbar-default {
    background-color:   $gray-darkest;
    border-color: transparent;
    .navbar-brand {
        color: $brand-primary;
        @include script-font;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: darken($brand-primary, 10%);
        }
    }
    .navbar-collapse {
        border-color: fade(white, 2%);
        overflow: hidden;
    }
    .navbar-toggle {
        background-color: $brand-primary;
        border-color: $brand-primary;
        .icon-bar {
            background-color: white;
        }
        &:hover,
        &:focus {
            background-color: $brand-primary;
        }
    }
    .nav {
        li {
            a {
                @include heading-font;
                font-weight: 400;
                letter-spacing: 1px;
                color: white;
                &:hover,
                &:focus {
                    color: $brand-primary;
                    outline: none;
                }
            }
        }
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        color: white;
        background-color: $brand-primary;
    }
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        color: white;
        background-color: darken($brand-primary, 10%);
    }
}

@media(min-width:768px) {
    .navbar-default {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav>.active>a {
            border-radius: 3px;
        }
    }
    .navbar-default.navbar-shrink {
        background-color:   $gray-darkest;
        padding: 10px 0;
        .navbar-brand {
            font-size: 1.5em;
        }    
    }
}

header {
    background-image: url('/assets/images/header-bg.jpg');
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    background-color: black;
    background-size: 100%;
    // height: 100%;
    @include background-cover;
    text-align: center;
    color: white;
    .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;
        .intro-lead-in {
            @include serif-font;
            font-style: italic;
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 25px;
        }
        .intro-heading {
            @include heading-font;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 25px;
        }
        .intro-signin {
            @include heading-font;
            font-size: 22px;
            line-height: 22px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        .intro-scroll-down {
            margin-top: 25px;
        }
    }
}

@media(min-width:768px) {
    header {
        .intro-text {
            padding-top: 300px;
            padding-bottom: 200px;
            .intro-lead-in {
                @include serif-font;
                font-style: italic;
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 25px;
            }
            .intro-heading {
                @include heading-font;
                font-weight: 700;
                font-size: 75px;
                line-height: 75px;
                margin-bottom: 50px;
            }
        }
    }
}

// Global Section Styles
section {
    padding: 100px 0;
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    h3.section-subheading {
        font-size: 16px;
        @include serif-font;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 75px;
    }
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

// Footer
footer {
    padding: 25px 0;
    text-align: center;
    span.copyright {
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
    ul.quicklinks {
        margin-bottom: 0;
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
}

// Highlight Color Customization
::-moz-selection {
    text-shadow: none;
    background: $brand-primary;
}

::selection {
    text-shadow: none;
    background: $brand-background;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: $brand-primary;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'account/signup/signup.scss';
@import 'admin/admin.scss';
@import 'dashboard/dashboard.scss';
@import 'dashboard/projects/projects.scss';
@import 'dashboard/status/status.scss';
@import 'dashboard/timeEntries/timeEntries.scss';
@import 'grey.scss';
@import 'landing/landing.scss';
@import 'mixins.scss';
@import 'reports/reports.scss';
@import 'variables.scss';
// endinjector