<div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModal" aria-hidden="true" ng-show="spinner.show">
	<div class="modal-body" >
	  <p>
		<div id="floatingCirclesG">
		<div class="f_circleG" id="frotateG_01">
		</div>
		<div class="f_circleG" id="frotateG_02">
		</div>
		<div class="f_circleG" id="frotateG_03">
		</div>
		<div class="f_circleG" id="frotateG_04">
		</div>
		<div class="f_circleG" id="frotateG_05">
		</div>
		<div class="f_circleG" id="frotateG_06">
		</div>
		<div class="f_circleG" id="frotateG_07">
		</div>
		<div class="f_circleG" id="frotateG_08">
		</div>
		</div>	
	  </p>
	  {{spinner.message}}
	</div>
	<div class="modal-footer">
	</div>
</div>
