<div class="registrationForm" ng-controller="RegisterCtrl">
  <form name="registrationForm" role="form" novalidate register-submit="register()">
    <fieldset>
    
      <!-- Form Name -->
      <legend>Sign Up</legend>
      
      <!-- Text input-->
      <div class="form-group" ng-class="{ 'has-error' : registrationForm.email.$invalid && !registrationForm.email.$pristine }">
        <label for="email">Email</label>
        <input id="email" 
               class="input-xlarge form-control" 
               name="email" 
               type="email" 
               placeholder="Enter email address" 
               required="" 
               tabindex="1" 
               autofocus="autofocus" 
               ng-model="registration.email" />
        <span class="help-block" ng-show="registrationForm.email.$error.required">Required</span>               
        <span class="help-block" ng-show="registrationForm.email.$error.email">Enter a valid email.</span>
      </div>
      
      <!-- Password input-->
      <div class="form-group" ng-class="{ 'has-error' : registrationForm.password.$invalid && !registrationForm.password.$pristine }">
        <label for="password">Password</label>
        <input id="password" 
               class="form-control input-xlarge" 
               name="password" 
               type="password" 
               ng-minlength="5"
               placeholder="Enter your password" 
               required 
               tabindex="2" 
               ng-model="registration.password" />
        <span class="help-block" ng-show="registrationForm.password.$error.required">Required</span>               
        <span class="help-block" ng-show="registrationForm.password.$error.minlength">Password must be longer than 5 characters</span>               
      </div>
      
      <!-- Text input-->
      <div class="form-group">
        <label for="company">Company</label>
        <input id="company" 
               class="form-control input-xlarge" 
               name="company" 
               type="text" 
               placeholder="Enter company name" 
               tabindex="3" 
               ng-model="registration.company"/>
        <span class="help-block">Optional</span>
      </div>
      
      <!-- Button -->
      <button id="register" 
              type="submit" 
              class="btn btn-primary" 
              value="register"
              ng-disabled="!registrationForm.$valid">
        Register
      </button>
      
    </fieldset>
  </form>          
</div>