<div class="registrationForm" ng-controller="RegisterCtrl">
  <form name="registrationForm" role="form" novalidate register-submit="register()">
    <fieldset>
    
      <!-- Form Name -->
      <legend>Sign Up</legend>

      <!-- Text input-->
      <div class="form-group" ng-class="{ 'has-error' : registrationForm.firstName.$invalid && !registrationForm.firstName.$pristine }">
        <label for="firstName">First name</label>
        <input id="firstName" 
               class="input-xlarge form-control" 
               name="firstName" 
               type="firstName" 
               placeholder="Enter first name" 
               required="" 
               tabindex="1" 
               autofocus="autofocus" 
               ng-model="registration.firstName" />
        <span class="help-block" ng-show="registrationForm.firstName.$error.required">Required</span>               
      </div>

      <!-- Text input-->
      <div class="form-group" ng-class="{ 'has-error' : registrationForm.lastName.$invalid && !registrationForm.lastName.$pristine }">
        <label for="lastName">Last name</label>
        <input id="lastName" 
               class="input-xlarge form-control" 
               name="lastName" 
               type="lastName" 
               placeholder="Enter last name" 
               required="" 
               tabindex="2" 
               ng-model="registration.lastName" />
        <span class="help-block" ng-show="registrationForm.lastName.$error.required">Required</span>               
      </div>
      
      <!-- Text input-->
      <div class="form-group" ng-class="{ 'has-error' : registrationForm.email.$invalid && !registrationForm.email.$pristine }">
        <label for="email">Email</label>
        <input id="email" 
               class="input-xlarge form-control" 
               name="email" 
               type="email" 
               placeholder="Enter email address" 
               required="" 
               tabindex="3" 
               ng-model="registration.email" />
        <span class="help-block" ng-show="registrationForm.email.$error.required">Required</span>               
        <span class="help-block" ng-show="registrationForm.email.$error.email">Enter a valid email.</span>
        <span class="help-block" ng-show="registrationForm.email.$error.uniqueEmail">Email is already registered</span>
      </div>
      
      <!-- Password input-->
      <div class="form-group" ng-class="{ 'has-error' : registrationForm.password.$invalid && !registrationForm.password.$pristine }">
        <label for="password">Password</label>
        <input id="password" 
               class="form-control input-xlarge" 
               name="password" 
               type="password" 
               ng-minlength="5"
               placeholder="Enter your password" 
               required 
               tabindex="4" 
               ng-model="registration.password" />
        <span class="help-block" ng-show="registrationForm.password.$error.required">Required</span>               
        <span class="help-block" ng-show="registrationForm.password.$error.minlength">Password must be longer than 5 characters</span>               
      </div>
            
      <!-- Button -->
      <button id="register" 
              type="submit" 
              class="btn btn-primary" 
              value="register"
              ng-disabled="!registrationForm.$valid">
        Register
      </button>
      
    </fieldset>
  </form>          
</div>