<div class="alert alert-warning">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Warning!</strong>
	<p>
	  Email address is unverified, please respond to the verification sent to your email address {{user.email}}.
	</p>
	<p>
	  <a class="glyphicon-envelope-alt" ng-click="resendVerification()"> Click here to resend the verification.</a>
	</p>
	<p>
	  <a href="#userPreferencesModal" class="glyphicon glyphicon-edit" data-toggle="modal" > Edit email address.</a>
	</p>
</div>
