div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-md-2
        h2 Projects
    .col-sm-8
        h2 Time entries
    .col-md-2
        h2 Info

div(ng-include='"components/footer/footer.html"')


