div(ng-include='"app/navbar/navbar.html"')
br
br	
section(full-height='min', ng-style='style()')
	.container
	  .row
	    .col-md-4
	        div(ui-view="projects")
	    .col-sm-8
	        div(ui-view="timeEntries")

div(ng-include='"app/footer.html"')


