.project-list {
	text-decoration: none !important;
}

.project-list-arrow {
	padding-right: 3px;
}

.project_header {
	margin-bottom: 0px;
}

.project-row {
	span {
		color: #000000;
		font-weight: normal;
	}
	i {
		color: #000000;		
		font-weight: normal;
	}
}