<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">News feed</h4>
      </div>
      <div class="panel-body">
        <p>
          <div class="alert alert-success">
            <small>2014-01-24 00:00</small><br/>
            System will be restarted soon.
          </div>
        </p>
        <p>
          <small>2014-01-24 00:00</small><br/>
          This is not gone public yet.
        </p>
        <p>
          <small>2014-01-24 00:00</small><br/>
          Welcome to Worktajm 0.1
        </p>                                                
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">{{person.firstName}} {{person.lastName}}</h4>
      </div>
      <div class="panel-body">
        <p>
          <strong>This week</strong><br/>
          100 hrs
        </p>
        <p>
          <strong>This month</strong><br/>
          400 hrs
        </p>
        <p>
          <strong>This year</strong><br/>
          10345 hrs
        </p>                                                
      </div>
    </div>
  </div>
</div>

