<!-- Create new project modal -->
<div ng-include src="'views/partials/projectModal.html'"/>
</div>

<!-- The project list  -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Projects</h4>
      </div>
      <div class="panel-body projects">

        <p>
          <a class="btn btn-primary btn-sm" ng-click="showNewProject()">
            <i class="glyphicon-plus"></i> Add new project</a>
        </p>
 
        <div class="project" ng-repeat="project in projects">
          <div class="project-header in project-{{project.id}}" id="project-header-{{project.id}}">
              <a data-toggle="collapse" data-target=".project-{{project.id}}" data-parent="#projects" class="projectToggle">
                <i class="glyphicon glyphicon-chevron-right"></i>
              </a>
              <span class="projectEdit" contenteditable="true">
                {{project.name}}
              </span>
              <a ng-click="stopTimer(project)" class="btn btn-xs btn-primary pull-right" role="button" ng-show="project.active" >Stop</a>                  
              <a ng-click="startTimer(project)" class="btn btn-xs btn-primary pull-right" role="button" ng-hide="project.active">Start</a>                  
          </div>
          <div id="project-form-{{project.id}}" class="collapse project-form project-{{project.id}}">
            <form>
              <fieldset>
                <a class="collapse-arrow" data-toggle="collapse" data-target=".project-{{project.id}}" data-parent="#projects">
                  <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
                <div class="control-group">
                  <label>Project Name
                    <span class="controls">
                      <input type="text" placeholder="Project name" ng-model="project.name">
                    </span>
                  </label>
                </div>
                <div class="control-group">
                  <label>Customer Name
                    <span class="controls">
                      <input type="text" 
                             placeholder="Customer name" 
                             ng-model="project.customerName" 
                             typeahead="customer.name for customer in getCustomers() | filter:$viewValue | limitTo:8">
                    </span>
                  </label>
                </div>

                <div class="control-group">
                  <label>Rate
                    <div class="controls">
                      <input type="number" placeholder="Hourly rate" ng-model="project.rate">
                    </div>
                  </label>                      
                </div>

                <div class="control-group">
                  <div class="controls">
                    <div class="btn-group">
                      <button type="button" 
                              class="btn btn-primary btn-sm glyphicon glyphicon-ok" 
                              ng-click="updateProject(project)"  
                              data-toggle="collapse" 
                              data-target=".project-{{project.id}}" 
                              data-parent="#projects">
                         Save
                      </button>
                      <button type="button" 
                              class="btn btn-primary btn-sm glyphicon glyphicon-remove" 
                              ng-click="restoreProject(project)" 
                              data-toggle="collapse" 
                              data-target=".project-{{project.id}}" 
                              data-parent="#projects">
                        Close
                      </button>
                    </div>
                    <div class="btn-group">
                      <button type="button" 
                              class="btn btn-primary btn-sm glyphicon glyphicon-remove" 
                              ng-click="removeProject(project)" 
                              data-toggle="collapse" 
                              data-target=".project-{{project.id}}" 
                              data-parent="#projects">
                        Delete
                      </button>
                    </div>
                  </div>
                </div>

              </fieldset>
            </form>                
          </div>                  
        </div>                  
      </div>

    </div>
  </li>
</div>
