<script type="text/ng-template" id="myModalContent.html">

  <!-- Modal -->
  <div class="modal-header">
    <h4>{{operation}} time entry</h4>
  </div>
  <div class="modal-body">
    <form role="form">

      <div class="form-group">
        <label for="project">Project</label>
        <input type="text" class="form-control" ng-model="project" typeahead="project for project in projectNames | filter:$viewValue | limitTo:8">
      </div>      
      <div class="form-group">
        <label for="startTime">Start time</label>
        <input type="text" class="form-control" id="startTime" ng-model="startTime" autofocus="autofocus"/>
      </div>
      <div class="form-group">
        <label for="endTime">End Time</label>
        <input type="text" class="form-control" id="endTime" ng-model="endTime"/>
      </div>
      <div class="form-group">
        <label for="duration">Duration</label>
        <input type="text" class="form-control" id="duration" ng-model="duration"/>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea rows="10" class="form-control" id="description" placeholder="Enter description" ng-model="description"/>
      </div>
    </form>               
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">Save changes</button>
  </div>
</script>
