div(ng-include='"app/navbar/navbar.html"')

.container
	.row
		.col-sm-2.col-xs-12
		.col-sm-10.col-xs-12
				div(ng-include='"app/reports/filters.html"')
				div(ng-include='"app/reports/results.html"')

div(ng-include='"app/footer.html"')
