div(ng-include='"components/navbar/navbar.html"')

.container
    p Reports
footer.footer
  .container
    p
      a(href='https://twitter.com/tyhenkel') @tyhenkel
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues