<div class="navbar navbar-inverse navbar-fixed-top" ng-show="person" ng-controller="LoginCtrl" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon-bar"></span>
        <span class="glyphicon-bar"></span>
        <span class="glyphicon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">worktajm</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/dashboard">Dashboard</a></li>
        <li><a>Reports</a></li>
        <li class="active"><a href="#/about">About</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">  
  <div class="row">
    <hr/>
    <h4>Server Side Techology</h4>
    <p>
      <a href="http://www.springframework.org" class="footer-logo">
        <img src="../images/attribution/powered-by-spring.png" alt="Powered by Spring"/>
      </a>
    </p>
  </div>
  <div class="row">
    <hr/>
    <h4>Client Side Techology</h4>
    <p>
      <h5>Featuring</h5>
      <a href="http://yeoman.io/" class="footer-logo">
        <img src="../images/attribution/yeoman.png" alt="Yeoman"/>
      </a>
      <h5>Featuring</h5>
      <a href="http://www.jquery.com" class="footer-logo">
        <img src="../images/attribution/jquery.png" alt="Powered by jQuery"/>
      </a>
      <a href="http://twitter.github.io/bootstrap/" class="footer-logo">
        <img src="../images/attribution/bootstrap.png" alt="Bootstrap"/>
      </a>
      <a href="http://angularjs.org/" class="footer-logo">
        <img src="../images/attribution/angularjs.png" alt="AngularJS"/>
      </a>            
    </p>
  </div>
</div>
