<div ng-include src="'views/partials/navbar.html'" ></div>

<div class="container" ng-show="principal" >

  <div class="row">
      <div ng-include src="'views/partials/loading.html'" >
      </div>        
  </div>

  <!-- Projects -->
	<div class="row">
    <!-- Column 1 -->
    <div class="col-md-3">
      <div ng-controller="DashboardProjectsCtrl">
        <div ng-include src="'views/partials/dashboard/projects.html'"></div>
      </div>
    </div>
    <!-- Center column -->
    <div class="col-md-6">

      <!-- Conditonal alert if user is not yet verified  -->
      <div ng-include src="'views/partials/user.html'" ng-hide="person.emailVerified">
      </div>

      <!-- Time entries table -->
      <div ng-controller="DashboardTimeEntriesCtrl">
        <div ng-include src="'views/partials/dashboard/timeEntries.html'"></div>    
      </div>
    </div>
    <!-- Column 3 -->
    <div class="col-md-3" ng-include="'views/partials/dashboard/company.html'" >
    </div>
	</div>
</div>
