<div ng-include src="'views/partials/navbar.html'" ></div>

<div class="container" ng-show="principal" ng-controller="ReportsCtrl">

  <!-- Projects -->
  <div class="row">

    <!-- Column 1 -->
    <div class="col-md-1">
    </div>

    <!-- Center column -->
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Report Filter</h4>
        </div>
        <div class="panel-body">

          <form class="form-horizontal" role="form" ng-submit="generateReport()">

            <!-- List the available report types -->
            <div class="form-group">
              <label for="period" class="col-sm-2 control-label">Report Type</label>
              <div class="col-sm-10">
                <div class="btn-group">
                  <button ng-repeat="type in reportTypes" 
                          type="button" 
                          class="btn btn-sm btn-primary" 
                          ng-model="selection.reportType" 
                          btn-radio="type.id"
                          ng-change="onChangeReportType()">
                    {{type.name}}
                  </button>
                </div>
              </div>    
            </div>  

            <!-- List the available reporting periods -->
            <div class="form-group">
              <label for="period" class="col-sm-2 control-label">Time Period</label>
              <div class="col-sm-10">
                <div class="btn-group">
                  <button ng-repeat="period in timeChoices" 
                          type="button" 
                          class="btn btn-sm btn-primary" 
                          ng-model="selection.timePeriod" 
                          ng-change="changedTimePeriod(period.id)"
                          btn-radio="period.id">
                    {{period.name}}
                  </button>
                </div>
              </div>    
            </div>  

            <!-- List the available customers -->
            <div class="form-group">
              <label for="customer" class="col-sm-2 control-label">Customers</label>
              <div class="col-sm-10">
                <div class="btn-group">
                  <button ng-repeat="customer in customers" 
                          type="button"
                          class="btn btn-sm btn-primary"
                          ng-model="selection.customer"
                          btn-radio="customer.id"
                          >
                    {{customer.name}}
                  </button>
                </div>
              </div>
            </div>

            <!-- List the available projects, filtered by customer if selected -->
            <div class="form-group" ng-hide="selection.reportType==='invoice'">
              <label for="project" class="col-sm-2 control-label">Projects</label>
              <div class="col-sm-10">
                <div class="btn-group">
                  <button ng-repeat="project in filteredProjects = (selection.projects | projectFilter:selection)" 
                          type="button" 
                          class="btn btn-sm btn-primary" 
                          ng-model="project.enabled" 
                          btn-radio="project.id"
                          btn-checkbox>
                    {{project.name}}
                  </button>
                </div>
              </div>    
            </div>  
          </form>
        </div>
      </div>

      <div ng-if="selection.reportType==='pivot'">
        <div class="panel panel-default" ng-include="'views/reports/pivot.html'"/>
      </div>

      <div ng-if="selection.reportType==='timesheet'">
        <div class="panel panel-default" ng-include="'views/reports/timesheet.html'"/>
      </div>

      <div ng-if="selection.reportType==='invoice'">
        <div class="panel-heading">
          <h4 class="panel-title">Time entries per project</h4>
        </div>
        <div class="panel-body">
          <div class="panel panel-default" ng-include="'views/reports/invoice.html'"/>
        </div>
      </div>

    </div>

    <!-- Column 3 -->
    <div class="col-md-1">
    </div>

    </div>
  </div>
</div>