<div class="panel panel-default" ng-controller="CustomersCtrl">
	<div class="panel-heading">
	  <h4 class="panel-title">Customers</h4>
	</div>
	<div class="panel-body customers">
	  <p>
	    <a class="btn btn-primary btn-sm" 
	       ng-click="openCreateCustomerModal()">
	      <i class="glyphicon-plus"></i> Add new customer</a>
	  </p>
	  <table  class="table table-condensed table-hover" >
	    <thead>
	      <tr>
	        <th class="col-md-5" >Name</th>
	        <th class="col-md-3">&nbsp;</th>
	      </tr>
	    </thead>
	    <tbody ng-repeat="customer in customers">
	      <tr>
	        <td>
	          <div ng-model="customer.name" title="Click to edit">{{customer.name}}</div>
	        </td>
	        <td>
	          <div class="btn-group pull-right">
	            <button type="button" 
	                    class="btn btn-default btn-sm glyphicon glyphicon-edit" 
	                    ng-click="openEditCustomerModal(customer)"
	                    popover="Edit"
	                    popover-placement="left" 
	                    popover-trigger="mouseenter">                          
	            </button>
	            <button type="button" 
	                    class="btn btn-default btn-sm glyphicon glyphicon-trash" 
	                    ng-click="openRemoveCustomerModal(customer)"
	                    popover="Remove" 
	                    popover-placement="right" 
	                    popover-trigger="mouseenter">
	            </button>
	          </div>
	        </td>
	      </tr>
	    </tbody>
	  </table>
	</div>
</div>