<!-- The project list  -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Change Password</h4>
  </div>
  <div class="panel-body projects">
    <form name="profileForm" role="form" novalidate>
      <fieldset>
      
        <!-- Password input-->
        <div class="form-group" ng-class="{ 'has-error' : registrationForm.password.$invalid && !registrationForm.password.$pristine }">
          <label for="password_old">Old password</label>
          <input id="password_old" 
                 class="form-control input-xlarge" 
                 name="password_old" 
                 type="password_old" 
                 ng-minlength="5"
                 placeholder="Enter your current password here" 
                 required 
                 tabindex="4" 
                 ng-model="registration.password_old" />
          <span class="help-block" ng-show="registrationForm.password.$error.required">Required</span>               
          <span class="help-block" ng-show="registrationForm.password.$error.minlength">Password must be longer than 5 characters</span>
        </div>
        
        <!-- Password new -->
        <div class="form-group" ng-class="{ 'has-error' : registrationForm.password.$invalid && !registrationForm.password.$pristine }">
          <label for="password_new1">New password</label>
          <input id="password_new1" 
                 class="form-control input-xlarge" 
                 name="password_new1" 
                 type="password_new1" 
                 ng-minlength="5"
                 placeholder="Enter your new password" 
                 required 
                 tabindex="4" 
                 ng-model="registration.password" />
          <span class="help-block" ng-show="registrationForm.password.$error.required">Required</span>               
          <span class="help-block" ng-show="registrationForm.password.$error.minlength">Password must be longer than 5 characters</span>
        </div>
             
        <!-- Password new -->
        <div class="form-group" ng-class="{ 'has-error' : registrationForm.password.$invalid && !registrationForm.password.$pristine }">
          <label for="password_new2">Confirm new password</label>
          <input id="password_new2" 
                 class="form-control input-xlarge" 
                 name="password_new2" 
                 type="password_new2" 
                 ng-minlength="5"
                 placeholder="Enter your password" 
                 required 
                 tabindex="4" 
                 ng-model="registration.password" />
          <span class="help-block" ng-show="registrationForm.password.$error.required">Required</span>               
          <span class="help-block" ng-show="registrationForm.password.$error.minlength">Password must be longer than 5 characters</span>
        </div>

        <!-- Button -->
        <button id="profileButton" 
                type="submit" 
                class="btn btn-primary" 
                value="profileButton"
                ng-disabled="!profileForm.$valid">
          Register
        </button>
        
      </fieldset>
    </form>    
  </div>
</div>

