<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">User Information</h4>
  </div>
  <div class="panel-body">
    <form name="profileForm" role="form" novalidate>
      <fieldset>
      
        <!-- Text input-->
        <div class="form-group" ng-class="{ 'has-error' : profileForm.firstName.$invalid && !profileForm.firstName.$pristine }">
          <label for="firstName">First name</label>
          <input id="firstName" 
                 class="input-xlarge form-control" 
                 name="firstName" 
                 type="firstName" 
                 placeholder="Enter first name" 
                 required="" 
                 tabindex="1" 
                 autofocus="autofocus" 
                 ng-model="registration.firstName" />
          <span class="help-block" ng-show="profileForm.firstName.$error.required">Required</span>               
        </div>

        <!-- Text input-->
        <div class="form-group" ng-class="{ 'has-error' : profileForm.lastName.$invalid && !profileForm.lastName.$pristine }">
          <label for="lastName">Last name</label>
          <input id="lastName" 
                 class="input-xlarge form-control" 
                 name="lastName" 
                 type="lastName" 
                 placeholder="Enter last name" 
                 required="" 
                 tabindex="2" 
                 ng-model="registration.lastName" />
          <span class="help-block" ng-show="profileForm.lastName.$error.required">Required</span>               
        </div>
        
        <!-- Text input-->
        <div class="form-group" ng-class="{ 'has-error' : profileForm.email.$invalid && !profileForm.email.$pristine }">
          <label for="email">Email</label>
          <input id="email" 
                 class="input-xlarge form-control" 
                 name="email" 
                 type="email" 
                 placeholder="Enter email address" 
                 required="" 
                 tabindex="3" 
                 ng-model="registration.email" />
          <span class="help-block" ng-show="profileForm.email.$error.required">Required</span>               
          <span class="help-block" ng-show="profileForm.email.$error.email">Enter a valid email.</span>
          <span class="help-block" ng-show="profileForm.email.$error.uniqueEmail">Email is already registered</span>
        </div>
        
             
        <!-- Button -->
        <button id="profileButton" 
                type="submit" 
                class="btn btn-primary" 
                value="profileButton"
                ng-disabled="!profileForm.$valid">
          Register
        </button>
        
      </fieldset>
    </form>    
  </div>
</div>

